body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ff7e5f;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-label {
    font-weight: bold;
}

input, textarea {
    border-radius: 10px;
    border-radius: 30px;
}

button {
    width: 100%;
    border-radius: 10px;
}
